# Scaleway API Key (READ-ONLY permissions only!)
SCALEWAY_API_KEY=scw_XXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Incident API URL
INCIDENT_API_URL=https://incresponse.incre.prd.fr-par.internal.scaleway.com/core/incidents/

# Console API URL
CONSOLE_API_URL=https://api.scaleway.com/resource-private/v1alpha1

# PostgreSQL Database URL
DATABASE_URL=postgresql://user:password@localhost:5432/alert_client